extends layout

block content
  h1 Ingredients
  a(href="/order/new") New order
  p List of Orders
  div
    each order, i in orders
      div(value=order)
      	| Order for
      	b #{order.customer}
      	| with #{order.ingredients} - $#{order.cost}
